footer {
    background-color: var(--main-slate);
    color: gainsboro;
    max-width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    position: static;
    bottom:0;
    font-size:14px;
    left:0;
}
.logo-footer{
    height: 50px;
}

.footer-options {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-options div, .footer-options a, .physical-store{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
/*end footer */