@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-bg-gray: #F4F1F1;
    --secondary-gray: #37474F;
    --main-purple:#534EF3;
}


a, li {
    cursor: pointer;
}


.secondary-gray {
    color: var(--secondary-gray);
}

.main-purple {
    color: #534EF3
}

body{
    padding: 0px 30px
}

@media (max-width:768px){
    body {
        padding:10px;
    }
}

.hidden {
    display: none;
}
