.product-infos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:50px;
    width: 100%;
}

.container-image{
    display: flex;
    align-items: center;
}

.prev-images{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.prev-images > img{
    height: 150px;
    border-bottom: 4px solid #C180EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 10px;
    transition: all linear 0.2s;
    cursor: pointer;
}

.active-image{
    height: 400px;
}

.details{
    
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.product-name, .product-price, .product-size {
    display: flex;
    flex-direction: column;
    row-gap:10px
}

.product-price h3 {
    font-size:12px;
    font-weight: 500;
}

.product-name h2{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-slate)
}

.button-primary{
    border: none;
    background-color: white;
    border-bottom: 4px solid #C180EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px 12px 12px 10px;
    transition: all linear 0.4s;
    cursor: pointer;
    width: max-content;
    padding:8px 20px;
    outline: none;
}

.button-primary:hover{
    box-shadow: 5px 4px 4px rgba(154, 3, 255, 0.25);
    border-bottom: 4px solid #971fe2;
}

.calculate-shipping{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top:20px;
}

.calculate-shipping input {
    border: none;
    outline: none;
    padding:8px;
    border-bottom: 4px solid #C180EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 10px;
}

.calculate-shipping input::placeholder {
    color:#726DFC;
    opacity: 0.8;
    font-size:12px;
}



.see-too {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.see-too div{
    background-color: gray;
    height: 5px;
    width: 5%;
}
.product-recommendations-label div{
    margin-top: 5px;
    background-color: #726DFC;
    height: 5px;
    width: 7%; 
    transform: skew(-12deg);

}

.recommendations span {
    font-size:12px;
    margin-top:20px;
}
